.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 10px;
  padding: 0px 10px;
  box-shadow: 0px 0px 6px white;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.400);
}

.header h1 {
  font-family: "goldman",sans-serif;
  font-size: 3.5rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(250) 0.1s forwards;
  user-select: none;
}

.header nav {
  display: flex;
  justify-content: center;
  margin-right: 100px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3em;
  list-style: none;
} 

.header li {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  line-height: 1.2;
}

.header a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

header li:hover {
  border-top: 3px solid rgb(111, 0, 255);
  border-bottom: 3px solid rgb(111, 0, 255);
}

@keyframes typing {
  to {
    width: 13ch;
  }
}