.hero  {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px 10px;
}

.hero img {
  height: 500px;
  width: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
}

.hero .introWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero h2 {
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(0, 255, 255);
}

.hero p {
  width: 800px;
  font-size: 1.8rem;
}