.App {
  height: 100%;
  padding: 10px 50px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  background: repeating-linear-gradient(25deg, black 0%, black 10%, rgb(65, 65, 65) 10%, rgb(65, 65, 65) 20%
  );
  background-repeat: none;
}
